{% extends "layout.html" %}

{% block content %}
<div class="row justify-content-start text-start">
    <h1>Сайт: {{ url.name }}</h1>

    <div class="table-responsive">
        <table class="table table-hover table-bordered mb-5" data-test="url">
            <tbody>
                <tr>
                    <td>ID</td>
                    <td>{{ url.id }}</td>
                </tr>
                <tr>
                    <td>Имя</td>
                    <td>{{ url.name }}</td>
                </tr>
                <tr>
                    <td>Дата создания</td>
                    <td>{{ url.created_at }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="mb-3 mt-3">
        <h2>Проверки</h2>
        <form action="/urls/{{ url.id }}/checks" method="post" class="d-flex justify-content-start">
            <input type="submit" value="Запустить проверку" class="btn btn-secondary btn-md">
        </form>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered" data-test="checks">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Код ответа</th>
                    <th>h1</th>
                    <th>title</th>
                    <th>description</th>
                    <th>Дата создания</th>
                </tr>
            </thead>
            <tbody>
                {% for check in checks %}
                <tr>
                    <td>{{ check.id }}</td>
                    <td>{{ check.status_code }}</td>
                    <td>{{ check.h1 }}</td>
                    <td>{{ check.title }}</td>
                    <td>{{ check.description }}</td>
                    <td>{{ check.created_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}